.pageProdutos{
display: flex;
flex-direction: column;
align-items: center;

}

.cardProdutos{
display: flex;
margin: 5%;
}

.tituloListaProdutos{
background-color: black;
width: 100%;
text-align: center;
color: ivory;
font-size: 3rem;
}