.navbarup {

    height: 60px; /* altura da navbar */
    align-items: center ;
    justify-content:space-evenly;
    
  }

  .navbar-brand {
    font-size: 2.5rem;
    text-decoration: solid;
  }


 
 
